// Variables
$website-width: 1280px;
$website-width-2: 1920px;
$main-color: #00a0bc;
$medium-color: #1caac3;
$light-color: #f4f4f4;
$dark-color: #333;
$bg-img: url("https://source.unsplash.com/U1gvhqVQ2kQ");
