@media (min-width: 1600px) {
  .container {
    max-width: $website-width-2;
  }

  #logo {
    width: 65px;
    height: auto;
    margin-bottom: none;
  }

  .navbar {
    font-size: 1.4rem;
  }

  #header-home {
    .header-content {
      padding: 33rem 31rem 2rem 4rem;

      h5 {
        font-size: 1.5rem;
      }
      h1 {
        font-size: 4.4rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }

  #home {
    &-a {
      .info-content {
        .who-img {
          margin: auto;
        }
        .about-text {
          margin: auto;
          font-size: 1rem;
        }
      }
    }
    &-b {
      .treatments-info {
        .treatments-img {
          margin: auto;
        }
        .treatments {
          margin: auto;
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  #header-home {
    height: 40%;
  }

  #home {
    &-a {
      .who-img {
        margin: auto;
      }
    }
    &-b {
      .treatments-img {
        margin: auto;
      }
    }
  }
}

// Tablets and smaller
@media (max-width: 854px) {
  #header-home {
    height: 25rem;

    ul {
      font-size: 0.8rem;
    }

    .header-content {
      padding: 8rem 5rem 2rem 1rem;
      h1 {
        font-size: 2rem;
      }
      h5 {
        font-size: 0.6rem;
      }
      p {
        font-size: 0.8rem;
      }
    }

    .btn {
      font-size: 0.8rem;
      padding: 0.3rem 2.125rem;
    }
  }

  // Home a
  #home-a {
    .ball-detail {
      &-top {
        top: -125px;
        left: -35px;
        width: 300px;
        height: 300px;
      }

      &-under {
        top: 230px;
        left: 165px;
        width: 85px;
        height: 85px;
      }
    }

    .info-content {
      display: grid;
      grid-template-columns: 1fr;

      .who-img {
        z-index: -2;

        img {
          width: 50%;
          height: auto;
          margin: auto;
        }
      }
    }
  }

  //Section B
  #home-b {
    .ball-detail {
      &-top {
        top: -100px;
        right: 0;
        width: 240px;
        height: 240px;
        clip-path: circle(50% at 100% 50%);
      }
      &-under {
        top: -10px;
        right: 210px;
        width: 75px;
        height: 75px;
      }
    }

    .treatments-info {
      .treatments-img {
        img {
          width: 60%;
          height: auto;
          margin: auto;
        }
      }
      .treatments {
        grid-area: treatments;
      }
      .treatments-img {
        grid-area: img;
      }
      display: grid;
      grid-template-areas:
        "img img"
        "treatments treatments";
    }
  }

  // Section C
  #home-c {
    .ball-detail-top {
      top: -120px;
      left: -100px;
      width: 250px;
      height: 250px;
    }
    .gallery-info {
      margin: 1rem 2rem;
    }
  }
  // Footer
  #footer {
    .footer-content {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 2fr;
      text-align: center;
      font-size: 0.8rem;
      padding: 1rem;

      .section-title {
        text-align: center;
      }

      .map {
        width: auto;
        .google-map {
          width: auto;
          align-self: center;
        }
      }
    }
  }
  // Treatments Page
  .treatment {
    &-description {
      padding: 2rem 0 2rem 2rem;
      margin: auto;
      &-2 {
        padding: 2rem 2rem 2rem 0;
        margin: auto;
      }
    }
    img {
      align-self: center;
      width: 80%;
      height: auto;
    }
    &-2 {
      img {
        align-self: center;
        width: 80%;
        height: auto;
      }
    }
  }
  .contact-page {
    margin: 4rem auto 2rem;
    font-size: 0.8rem;
    .section-title {
      font-size: 1rem;
    }
    .btn {
      font-size: 0.8rem;
    }
  }
}

// Tablet and small
@media screen and (max-width: 768px) {
  %navbar-shared {
    .nav-checkbox {
      display: none;
    }

    .nav-button {
      display: inline-block;
      background-color: #fff;
      height: 3rem;
      width: 3rem;
      position: fixed;
      top: 0.5rem;
      right: 1.5rem;
      border-radius: 50%;
      z-index: 3000;
      text-align: center;
      cursor: pointer;

      -webkit-box-shadow: 6px 4px 28px -7px rgba(51, 51, 51, 1);
      -moz-box-shadow: 6px 4px 28px -7px rgba(51, 51, 51, 1);
      box-shadow: 6px 4px 28px -7px rgba(51, 51, 51, 1);
    }

    .nav-bg {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      position: fixed;
      top: 1rem;
      right: 2rem;
      background-image: radial-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      );
      // transform: scale(50);
      transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
      z-index: 1000;
    }

    #main-nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;

      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    ul {
      position: absolute;
      text-align: center;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      width: 100%;

      li:last-child {
        padding: 16px 24px;
      }
    }
    a {
      font-size: 1rem;
    }

    .nav-checkbox:checked ~ .nav-bg {
      transform: scale(80);
    }
    .nav-checkbox:checked ~ #main-nav {
      opacity: 1;
      width: 100%;
    }

    // Icon
    .nav-icon {
      position: relative;
      margin-top: 1.53rem;

      &,
      &::before,
      &::after {
        height: 2px;
        background-color: $dark-color;
        display: inline-block;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        transition: all 0.2s;
      }
      & {
        width: 1.3rem;
      }
      &::before {
        width: 1.6rem;
        top: -0.5rem;
      }
      &::after {
        width: 0.6rem;
        top: 0.5rem;
      }
    }
    .nav-checkbox:checked + .nav-button .nav-icon {
      background-color: transparent;
    }
    .nav-checkbox:checked + .nav-button .nav-icon::before {
      top: 0;
      right: -0.145rem;
      transform: rotate(45deg);
    }
    .nav-checkbox:checked + .nav-button .nav-icon::after {
      top: 0;
      right: -0.145rem;
      width: 1.6rem;
      transform: rotate(-45deg);
    }
  }
  .navbar {
    @extend %navbar-shared;
    &-inner {
      @extend %navbar-shared;
    }
  }

  // About page
  #about-page {
    .info-content {
      display: grid;
      grid-template-columns: 1fr;
      .who-img {
        display: none;
      }
    }
    .philo-content {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  // Contact Page
  .contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 12rem auto 8rem;
    .btn {
      font-size: 0.8rem;
      padding: 0.6rem 1.4rem;
      margin: 1rem auto;
    }
    .section-title {
      text-align: center;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 530px) {
  #header-home {
    height: 20rem;
  }
  .header-content {
    h5 {
      padding-top: 1rem;
    }
    .description {
      display: none;
    }
    .btn {
      padding: 0;
      margin: 1rem 0.5rem;

      &-main {
        margin: 1rem;
        display: none;
      }

      &-white {
        margin: 1rem 1rem 1rem 0;
      }

      &:hover {
        transform: none;
        box-shadow: none;
      }
      &:active {
        transform: none;
        box-shadow: none;
      }
    }
  }

  .ball-detail {
    &-top {
      display: none;
    }
    &-under {
      display: none;
    }
  }

  // Tratamentos

  #home-b2 {
    .items-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .item {
        margin: 1rem auto;
        text-align: center;
        &-header {
          justify-content: center;
        }
      }
    }
  }

  // Comentarios

  .comments {
    &-area {
      display: flex;
      flex-direction: column;
    }
    &-item {
      margin: 1rem;
      &:last-child {
        margin-right: 1rem;
      }
    }

    &-link {
      .btn {
        font-size: 0.8rem;
        text-align: center;
        margin: 1rem auto;
      }
    }
  }

  #home-c {
    .gallery-info {
      margin: auto;
      padding: 1rem;
    }
  }
  #footer {
    .footer-content {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
    }
  }

  // About page
  .ball-detail {
    &-top-inner {
      display: none;
    }
    &-under-inner {
      display: none;
    }
  }

  // Treatments Page
  .treatment {
    display: flex;
    flex-direction: column;
    border-bottom: solid $dark-color 2px;
    text-align: center;
    &-description {
      padding: 1rem;
      margin: auto;
      &-2 {
        padding: 1rem;
        margin: auto;
      }
    }
    .section-title {
      text-align: center;
    }
    img {
      align-self: center;
      width: 80%;
      height: auto;
    }
    &-2 {
      display: flex;
      flex-direction: column;
      border-bottom: solid $dark-color 2px;
      text-align: center;
      .section-title {
        text-align: center;
      }
      img {
        align-self: center;
        width: 80%;
        height: auto;
      }
    }
  }
  .contact-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8rem auto 5rem;
    .btn {
      font-size: 0.8rem;
      padding: 0.6rem 1.4rem;
      margin: 1rem auto;
    }
    .section-title {
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
