.treatment {
  margin: 2.5rem;
  display: flex;
  color: $dark-color;
  text-align: right;
  .section-title {
    text-align: right;
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  &-description {
    padding: 1rem 0 1rem 10rem;
    margin: auto;
    &-2 {
      padding: 1rem 10rem 1rem 0;
      margin: auto;
    }
  }

  &-2 {
    .section-title {
      text-align: left;
    }
    margin: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    color: $dark-color;
    text-align: left;

    h2 {
      text-align: right;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      justify-content: flex-end;
    }
  }
}

.showmore {
  transition: all 0.3s ease-in-out;
  .more {
    display: none;
  }
  &.show {
    .dots {
      display: none;
    }
    .more {
      display: inline;
    }
  }
  a {
    cursor: pointer;
    color: $main-color;
    font-weight: 600;
  }
}
